{{outlet}}

<div class="container">
	{{#each story in controller}}
		<div class="row news-item">
			<div class="col-md-1 rank">
				<h3>{{story.id}}. <span class="glyphicon glyphicon-flash"></span></h3>
			</div>
			<div class="col-md-11">
				<a {{bind-attr href=story.link}}><h3 class="title">{{story.title}} <span class="domain">({{domainRoot story}})</span></h3></a>
				<p>
					<span class="glyphicon glyphicon-stats"></span>
					43 points by <a href="#">UserName</a>
					<span class="glyphicon glyphicon-time space"></span>
					{{timeFormat story}}
					<span class="glyphicon glyphicon-bullhorn space"></span> 
					{{#link-to 'story' story}}XX Comments{{/link-to}}
					<span class="glyphicon glyphicon-remove space"></span>
					<a href="#" {{action 'delete' story}}>Delete</a>

				</p> 
			</div>
		</div>
	{{else}}
		<p>Sorry, but there is no news here...</p>
	{{/each}}
</div>